			body {
				margin: 0px 0px 0px 0px;
			}			
			a:visited { color:blue;}
		
			#tble
			{
				width: 100%;
				display:table;
				height:87%;				
			}
			#caption
			{
				
				height: 15%;
				background-color:#4F81BD;
				display: table-caption;
			}
			div.tr
			{
			display:table-row;
			}
			
			#lft
			{	
				vertical-align: top;
				padding: 1% 1% 1% 1%;
				display:table-cell;
				background-color:#F79646;
				width:150px;
										
			}

			#mddle
			{
				padding: 1% 1% 1% 1%;
				display:table-cell;								
				background-color:#9BBB59;
				width:85%;			
			}
			

